<div data-role="page">

	<div data-role="header">
    <div><h1>Mo's Flashcard App</h1></div>
	</div>

	<div data-role="content">
		<ul data-role="listview" class="ui-listview">
			<li class="ui-btn">
				<%= link_to "View all flashcards", flashcards_path, :data => {:ajax => "false"} %>
			</li>
			<li class="ui-btn">
					<%= link_to "Create a new flashcard", new_flashcard_path, :data => {:ajax => "false"} %>
			</li>
			<li class="ui-btn">
					<%= link_to "Import flashcards", deck_path, :data => {:ajax => "false"} %>
			</li>
		</ul>
	</div>

	<div data-role="footer">
	</div>

</div>