<%= content_tag(:div, :data => {:role => "page"}, :id => "#{current_card.id}_english") do %>
	<div data-role="content">
		<div class="card_contents">
			<div class="card_text">
				<h3><%= current_card.english %></h3>
			</div>
			<div class="card_buttons">
				<%= link_to("Flip", "##{current_card.id}_chinese", :data => {:role => "button", :transition => "flip"})%>
				<%= link_to("Next", "##{next_card.id}_chinese", :data => {:role => "button", :transition => "slide"})%>
			</div>
		</div>
	</div>
<% end %>