<div data-role="page" id="#{flashcard.id}_chinese">
	<div data-role="header">
		<h1>Mo's Flashcards</h1>
	</div>
	<div data-role="content">
		<div class="card_contents">
			<h1><%= flashcard.chinese %></h1>
			<h2><%= flashcard.pinyin %></h2>
			<p><a href="#one_b" data-role="button" data-transition="flip">Flip</a></p>
			<p><a href="#two_a" data-role="button" data-transition="slide">Next</a></p>
		</div>
	</div>
</div>

<div data-role="page" id="#{flashcard.id}_english">
	<div data-role="header">
		<h1>Mo's Flashcards</h1>
	</div>
	<div data-role="content">
		<div class="card_contents">
			<h2>hello</h2>
			<p><a href="#one_a" data-role="button" data-transition="flip">Flip</a></p>
			<p><a href="#two_a" data-role="button" data-transition="slide">Next</a></p>
		</div>
	</div>
</div>