<div data-role="header">
	<h1>Build a deck yo</h1>
</div>

<div data-role="content">
	<%= flash[:notice] if flash[:notice] %>
</div>

<div data-role="footer">
	<%= link_to "Back", root_path, :data => {:ajax => "false"} %>
</div>