<div data-role="page" id="one_a">
	<div data-role="header">
		<h1>Mo's Flashcards</h1>
	</div>
	<div data-role="content">
		<div class="card_contents">
			<h1>你 好</h1>
			<h2>ni3 hao3</h2>
			<p><a href="#one_b" data-role="button" data-transition="slide">Turn</a></p>
			<p><a href="#two_a" data-role="button" data-transition="slide">Next</a></p>
		</div>
	</div>
</div>

<div data-role="page" id="one_b">
	<div data-role="header">
		<h1>Mo's Flashcards</h1>
	</div>
	<div data-role="content">
		<div class="card_contents">
			<h2>hello</h2>
			<p><a href="#one_a" data-role="button" data-transition="slide">Turn</a></p>
			<p><a href="#two_a" data-role="button" data-transition="slide">Next</a></p>
		</div>
	</div>
</div>


<div data-role="page" id="two_a">
	<div data-role="header">
		<h1>Mo's Flashcards</h1>
	</div>
	<div data-role="content">
		<div class="card_contents">
			<h1>軟 件 開 發</h1>
			<h2>ruan3 jian4 kai1 fa1</h2>
			<p><a href="#two_b" data-role="button" data-transition="slide">Turn</a></p>
			<p><a href="#three_a" data-role="button" data-transition="slide">Next</a></p>
		</div>
	</div>
</div>

<div data-role="page" id="two_b">
	<div data-role="header">
		<h1>Mo's Flashcards</h1>
	</div>
	<div data-role="content">
		<div class="card_contents">
			<h2>software development</h2>
			<p><a href="#two_a" data-role="button" data-transition="slide">Turn</a></p>
			<p><a href="#three_a" data-role="button" data-transition="slide">Next</a></p>
		</div>
	</div>
</div>


<div data-role="page" id="three_a">
	<div data-role="header">
		<h1>Mo's Flashcards</h1>
	</div>
	<div data-role="content">
		<div class="card_contents">
			<h1>霹 雳 舞 忍 者</h1>
			<h2>pi1 li4 wu3 ren3 zhe3</h2>
			<p><a href="#three_b" data-role="button" data-transition="slide">Turn</a></p>
			<p><a href="#one_a" data-role="button" data-transition="slide">Next</a></p>
		</div>
	</div>
</div>

<div data-role="page" id="three_b">
	<div data-role="header">
		<h1>Mo's Flashcards</h1>
	</div>
	<div data-role="content">
		<div class="card_contents">
			<h2>breakdancing ninjas</h2>
			<p><a href="#three_a" data-role="button" data-transition="slide">Turn</a></p>
			<p><a href="#one_a" data-role="button" data-transition="slide">Next</a></p>
		</div>
	</div>
</div>