<% if !@flashcards.empty? %>
	<% @flashcards.each_with_index do |current_card, index| %>
		<% @flashcards[index + 1].nil? ? next_card = @flashcards[0] : next_card = @flashcards[index + 1] %>
		<%= render :partial => "flashcard_chinese", :locals => {:current_card => current_card, :next_card => next_card} %>
		<%= render :partial => "flashcard_english", :locals => {:current_card => current_card, :next_card => next_card} %>
	<% end %>
<% else %>
	<div data-role="page">
		<div data-role="content">
			<p>You don't have any cards yet!</p>
		</div>
		<div data-role="footer">
			<%= link_to "Back", root_path %>
		</div>
	</div>
<% end %>


